@import "tailwindcss";

:root {
  --color-primary: #2563eb;
  --color-primary-light: #60a5fa;
  --color-primary-dark: #1e40af;

  --color-background: #ffffff;
  --color-foreground: #020817;
  --color-foreground-light: #505050;
  --color-foreground-dark: #000000;
  --color-muted: #f1f5f9;
  --color-border: #e2e8f0;

  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
  --color-info: #3b82f6;

  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
}

[data-theme="dark"] {
  --color-primary: #3b82f6;
  --color-primary-light: #60a5fa;
  --color-primary-dark: #2563eb;
  --color-background: #020817;
  --color-foreground: #ffffff;
  --color-foreground-light: #cecece;
  --color-foreground-dark: #ffffff;
  --color-muted: #1e293b;
  --color-border: #334155;
}

[data-theme="green"] {
  --color-primary: #16a34a;
  --color-primary-light: #22c55e;
  --color-primary-dark: #15803d;
  --color-background: #f0fdf4;
  --color-foreground: #14532d;
  --color-muted: #dcfce7;
  --color-border: #86efac;
}

[data-theme="purple"] {
  --color-primary: #9333ea;
  --color-primary-light: #a855f7;
  --color-primary-dark: #7e22ce;
  --color-background: #faf5ff;
  --color-foreground: #581c87;
  --color-muted: #f3e8ff;
  --color-border: #d8b4fe;
}

@theme {
  --color-primary: var(--color-primary);
  --color-primary-light: var(--color-primary-light);
  --color-primary-dark: var(--color-primary-dark);
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
  --color-foreground-light: var(--color-foreground-light);
  --color-foreground-dark: var(--color-foreground-dark);
  --color-muted: var(--color-muted);
  --color-border: var(--color-border);
  --color-success: var(--color-success);
  --color-warning: var(--color-warning);
  --color-error: var(--color-error);
  --color-info: var(--color-info);

  --radius-sm: var(--radius-sm);
  --radius-md: var(--radius-md);
  --radius-lg: var(--radius-lg);
}
